/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --dark-black-color: #000000;
    --fs-18: 18px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;

    padding: 0 50px;

    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}
main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* --------------------------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.header > a > img {
    max-width: 61.09px;
    width: 100%;

    color: var(--main-color);

    padding: 30px 50px;
}
.header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;

    align-self: start;
}

.header > nav > a {
    position: relative;

    color: var(--dark-black-color);

    padding-top: 16px;
}
.header > nav > a::after {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 2px;
    width: 100%;
    content: "";

    background-color: var(--main-color);

    transform: translateY(0) scale(0);

    transition: transform 0.2s ease;
}
.header > nav > a:hover::after {
    transform: scale(1) translateY(0);
}
.header > nav > a:hover {
    color: var(--main-color);
}

/* --------------------------------- */

.info-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;
}
.info-group > :first-child > p {
    line-height: 0;
}
/**/
.info-group__search-bar {
    display: flex;

    width: 100%;
    max-width: 377px;
}
.info-group__search-bar > * {
    height: 49px;
}
.info-group__search-bar > span {
    display: block;
    position: relative;

    width: 100%;
    max-width: 50px;

    color: var(--dark-black-color);

    background-color: var(--main-bg-color);

    border-radius: 15px 0 0 15px;
}
.info-group__search-bar > input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    width: 100%;

    border: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);

    /* style pour input value */

    font-weight: 700;
    font-size: 18px;
    color: var(--dark-black-color);

    text-align: center;
}
.info-group__search-bar > span > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--dark-black-color);

    width: 10px;
}
.info-group__search-bar > button {
    width: 100%;
    max-width: 132px;

    background-color: var(--main-color);

    color: #f1f1f1;
    font-weight: 700;
    font-size: 18px;

    border: none;
    border-radius: 0 15px 15px 0;
}

.filter-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.filter-bar > * {
    font-weight: 700;
}
.filter-bar > span {
    font-size: var(--fs-18);
}
.filter-bar > button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 50px;

    background: none;

    border: 2px solid var(--main-bg-color);
    border-radius: 25px 25px 25px 25px/ 50% 50% 50% 50%;

    font-size: 17px;

    padding: 4px 19px;
}
.filter-bar > button > i {
    font-size: 22px;
}

/* 

La propriété opacity est plus performante 
que la propriété background.


*/
.filter-bar > button::before {
    position: absolute;
    z-index: -1;

    display: block;
    content: "";

    width: 100%;
    height: 100%;

    background-color: var(--filter-bg-color);

    opacity: 0;

    border-radius: 25px 25px 25px 25px/ 50% 50% 50% 50%;
}
.filter-bar > button:hover::before {
    opacity: 1;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.info > span {
    position: relative;

    display: block;

    width: 22px;
    height: 22px;

    border: 1px solid #d9d9d9;
    border-radius: 50%;
}
.info > span > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 10px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;

    width: 65%;
    max-height: 614px;
}
.hebergements__main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 30px;
}

.hebergements__main > a > article {
    display: flex;
    justify-content: center;
    flex-direction: column;

    max-height: 207px;
    height: 100%;

    border-radius: 20px;

    box-shadow: 0 3px 15px #0000001a;

    background: #ffffff;
}
.hebergements__main > a > article > img {
    width: 100%;
    max-width: 100%;

    height: 124px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border: 5px solid #ffffff;
    box-sizing: border-box;

    object-fit: cover;

    margin: 0;
}
.hebergements__main__card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: fit-content;

    line-height: 1;

    margin: 4px 15px 15px;
}
.hebergements__main__card-content > * {
    margin: 0;
}
.hebergements__main__card-content > p {
    font-size: 14px;
}
.hebergements__main__card-rating {
    font-size: 13px;
}
.hebergements__main__card-rating :last-child {
    color: #f2f2f2;
}
.hebergements__see-more {
    font-size: 22px;
    font-weight: 700;

    border: none;
    background: none;

    width: fit-content;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;

    padding-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* --------------------------------- */

.activities-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.activities-container > a {
    width: 100%;
    height: 100%;
    max-width: 297px;
    max-height: 439px;

    box-shadow: 0px 3px 15px 0px #0000001a;

    border-radius: 20px;
}
.activities-container__activity > div {
    position: relative;

    height: 26vw;
    max-height: 380px;
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    overflow: hidden;
}
.activities-container__activity > div > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    width: 100%;
    object-fit: cover;
}
.activities-container__activity > h4 {
    padding: 20px 19px;
    margin: 0;
}

/* --------------------------------- */

.footer {
    display: flex;
    justify-content: center;

    background-color: var(--main-bg-color);

    margin-top: 35px;
}
.footer > div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 15px;

    flex: 1;

    padding: 20px;
}

.footer > div > h3 {
    margin: 0;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        margin: 0;
    }
    .main-container {
        padding: 0;
    }
    .header {
        width: 100%;

        justify-content: center;
        flex-direction: column;
    }
    .header > nav {
        border-bottom: 2px solid var(--main-bg-color);

        gap: 0;

        width: 100%;

        align-self: center;

        text-align: center;
    }
    .header > nav > a {
        flex: 1;

        padding: 0 0 16px 0;
    }
    .header > nav > a::after {
        top: auto;
        bottom: 0;

        transform: scale(0) translateY(100%);
    }
    .header > nav > a:hover::after {
        transform: scale(1) translateY(100%);
    }

    /* --------------------------------- */

    .hebergements__main {
        display: flex;
        flex-direction: column;

        max-width: 100%;
    }
}
